 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  body{
    background-color: #F5F5F5;
    font-family: 'fira sans';
}


  /* share-styles */
  .all-paragraphs{
    font-size:16px ;
    font-weight: normal;
    color:#0E0E0E;
    opacity: 70%;
}

.btn-same{
    font-size: 18px;
    font-weight: 600;
    color:#ffffff;
    background-color:#006A50;
    border: none;
    border-radius:10px;
    padding: 17px 34px;
    cursor: pointer;
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
}
header h3{
    font-size: 32px;
}
.nav-button{
    color:#006A50;
    background-color: white;
    font-size: 18px;
    border: 1px solid #006A50;
    border-radius: 7px;
    padding: 15px 30px;
    cursor: pointer;
}

/* banner-styles */

.banner{
    background-color: #C6E4D6;
    display: flex;
    gap: 600px;
    border-radius: 20px;
    margin: 20px 160px 20px 160px;
    max-width: 100%;
    padding: 117px 70px;
    
}
.banner-content{
    max-width: 100%;
}
 .banner-subtitle{
    color: #0E0E0E;
    font-size:24px;
    font-weight: bold;
    opacity: 50%;
 }
 .banner-title{
    font-size: 56px;
    font-weight: bolder;
 }


/* section-styles */

.section-1{
    margin: 80px 160px;
}

main h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.visions{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.card-1{
    background-color: #A2C2F8;
    border-radius: 15px;
    padding: 32px;
    width: 410px;

}
.card-2{
    background-color: #C6E4D6;
    border-radius: 15px;
    padding: 32px;
    width: 410px;
}
.card-3{
    background-color:#F7EBCF;
    border-radius: 15px;
    padding: 32px;
    width: 410px;

}


.card-title{
    font-size: 20px;
    color: #0E0E0E;
    opacity: 80%;
}

.card-btn1{
    color: white;
    background-color: #598EE5;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    padding: 11px 20px;

}

.card-btn2{
    color: white;
    background-color: #09A15C;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    padding: 11px 20px;

}
.card-btn3{
    color: white;
    background-color: #FFC239;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    padding: 11px 20px;

}
/* section-2 styles */

.news{
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    max-width: 100%;
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
    padding: 48px;
    margin: 32px 0 24px 0;
}

.section-2{
    margin: 80px 160px;
}

.satelite-pic{
    border-radius: 20px;
    width: 600px;

}
.about-satelite{
    padding-bottom: 70px;
    
}
.news-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
/* donate-section styles */

.donate-part{
    margin: 80px 160px;
    max-width: 100%;
    text-align: center;
}

.donate-amounts{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.tk{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    border-radius: 15px;
    background-color: #ffffff;
    border: none;
    margin-bottom: 32px;
}
.donated{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    border-radius: 15px;
    background-color: #C6E4D6;
    border: none;
    margin-bottom: 32px;
}

.section-3 input{
   border: none;
   padding: 20px 422.5px;
   margin-bottom: 32px;
}

/* last-section styles */
.last-section{
    border-radius: 15px;
    margin: 80px 160px;
    max-width: 100%;
    background-color: #C6E4D6;
    text-align: center;
    padding: 80px 265px;
}
.last-section input{
    border: none;
    padding: 20px 403px 18px 40px;
    border-radius: 5px;
    margin-top: 24px;
}
table{
    border-collapse: collapse;
}
/* challenge-part */
.speech{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top 25px left 22px;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 40px 20px;
}
.nobel-winner{
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
    opacity: 80%;
    margin-bottom: 4px;
}
.appositive{
    font-size:16px;
    color:#0E0E0E;
    opacity:60%;
    font-weight:normal;
}

/* hover */
.card-2:hover{
    background-color: bisque;
}

.btn-same:hover{
    color: #000000;
    background-color: #ffffff;
    border: 1px solid black;
}
.btn:hover{
    color: #000000;
    background-color: #ffffff;
    border: 1px solid black;
}

.tk:hover{
    border-style: outset;
}